<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group col-4">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    
      <div class="form-group col-4">
        <%= form.label :members %>
        <%= form.number_field :members, class: "form-control" %>
      </div>
    </div>
    

    <div class="form-group">
      <%= form.label :debut %>
      <%= form.date_select :debut, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :group_type %>
      <%= form.select :group_type, options_for_select(@group_types), class: "form-control" %>
    </div>

  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
